<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="Default" connectionString="server=localhost\MSSQLSERVER2012;Database=master;Trusted_Connection=Yes;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
